Repository NXConner/asphalt-pro-wiz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,md}": ["prettier --write"],
  "src/**/*.{ts,tsx}": ["eslint --fix"]
}

feat: Add real-time telemetry and improve data handling
  src/components/telemetry/TelemetrySignal.tsx
  src/components/telemetry/index.ts
  src/hooks/useTelemetry.ts
  src/modules/analytics/useCommandCenterData.ts
  src/modules/layout/OperationsHeader.tsx
  src/modules/mission-control/division-map/DivisionMapInterface.tsx
  src/modules/mission-control/division-map/useDivisionMapData.ts
  src/pages/CommandCenter.tsx
Due: prettier --write, eslint --fix

Refactor: Update Supabase env vars and CLI check
  .env.example
  scripts/install_dependencies.ps1
  scripts/install_dependencies.sh
Due: none

Refactor: Update .dockerignore to exclude more files
  .dockerignore
Due: none

Refactor: Restructure theme customizer into components
  src/components/ThemeCommandCenter.tsx
  src/components/ThemeCustomizer.tsx
  src/components/theme/ThemeDesignTokensPanel.tsx
  src/components/theme/ThemeHueControls.tsx
  src/components/theme/ThemeMissionPresets.tsx
  src/components/theme/ThemePreview.tsx
  src/components/theme/ThemeWallpaperManager.tsx
  src/components/ui/progress.tsx
  src/components/ui/theme-swatch.tsx
  src/design/gradients.ts
  src/design/themes/index.ts
  src/design/tokens.ts
  src/modules/layout/OperationsHeader.tsx
  src/modules/layout/wallpapers.ts
Due: prettier --write, eslint --fix

feat: Add Supabase configuration and error handling
  README.md
  config/secrets/README.md
  docs/PHASE_1_ANALYSIS.md
  src/App.tsx
  src/components/SupabaseConfigBanner.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useAuth.ts
  src/integrations/supabase/client.ts
  src/pages/Auth.tsx
Due: prettier --write, eslint --fix

Configure environment variables for local development
  .env.example
Due: none

feat: Add observability and seeding to docker compose
  Dockerfile
  config/observability/otel-collector.yaml
  docker-compose.yml
Due: none

feat: Add new theme presets and ESLint rules
  eslint.config.js
  src/components/ThemeCustomizer.tsx
  src/components/theme/ThemeDesignTokensPanel.tsx
  src/components/theme/ThemeMissionPresets.tsx
  src/design/gradients.ts
  src/lib/designSystem.ts
  src/modules/layout/wallpapers.ts
Due: prettier --write, eslint --fix

feat: Add mission operational expansion tables and seed data
  docs/ADMIN_SETUP.md
  scripts/seed.ts
  supabase/migrations/20251106095000_mission_operational_expansion.js
Due: prettier --write

Add secrets automation templates and security report script
  README.md
  config/secrets/README.md
  config/secrets/aws-secrets-manager.json.example
  config/secrets/vault.env.template
  package.json
Due: prettier --write

Checkpoint before follow-up message
  src/App.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  .env.example
Due: none

Checkpoint before follow-up message
  Dockerfile
  README.md
  docker-compose.yml
Due: prettier --write

Checkpoint before follow-up message
  README.md
  src/components/ThemeCustomizer.tsx
  src/components/theme/ThemeShowcase.tsx
  src/components/ui/holo-card.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  src/components/CustomizableCard.tsx
  src/components/Map.tsx
  src/components/Scheduler/BlackoutEditor.tsx
  src/components/Scheduler/CrewAssign.tsx
  src/components/SupabaseConfigBanner.tsx
  src/components/hud/TacticalOverlay.tsx
  src/components/theme/ThemeMissionPresets.tsx
  src/components/theme/ThemeWallpaperManager.tsx
  src/modules/analytics/useCommandCenterData.ts
  src/modules/engagement/EngagementHubPanel.tsx
  src/modules/layout/CanvasPanel.tsx
  src/modules/layout/OperationsHeader.tsx
  src/modules/layout/wallpaperLibrary.ts
  src/modules/mission-control/division-map/DivisionMapInterface.tsx
  src/modules/mission-control/division-map/useDivisionMapData.ts
  src/pages/CommandCenter.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  src/components/CustomizableCard.tsx
  src/modules/scheduler/AddMissionTaskForm.tsx
  src/modules/scheduler/CrewCapacityCard.tsx
  src/modules/scheduler/MissionAlerts.tsx
  src/modules/scheduler/MissionSchedulerContext.constants.ts
  src/modules/scheduler/MissionSchedulerContext.tsx
  src/modules/scheduler/MissionSchedulerPanel.tsx
  src/modules/scheduler/MissionTimeline.tsx
  src/modules/scheduler/index.ts
  src/modules/scheduler/useMissionSchedulerContext.ts
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

feat: Add lovable preview path detection
  .env.example
  README.md
  src/App.tsx
Due: prettier --write, eslint --fix

feat: Add tactical map v2 and refactor design system
  README.md
  docs/PHASE_7_8_COMPLETION.md
  docs/UI_COMPONENT_LIBRARY.md
  docs/UNIFIED_SUPABASE_GUIDE.md
  src/components/map/TacticalMap.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/textarea.tsx
  src/design/index.ts
  src/design/system/catalog.ts
  src/design/system/components.ts
  src/design/system/config.ts
  src/design/system/index.ts
  src/index.css
  src/lib/designSystem.ts
  src/lib/flags.ts
  tests/components/TacticalMap.test.tsx
  tests/lib/theme.test.ts
  tests/ui/componentTokens.test.ts
  tests/ui/responsiveLayouts.test.tsx
Due: prettier --write, eslint --fix

feat: Add mission activity panel and telemetry derivation
  docs/PHASE_7_8_COMPLETION.md
  src/modules/mission-control/MissionActivityPanel.tsx
  src/modules/mission-control/useMissionActivity.ts
  src/pages/CommandCenter.tsx
  tests/modules/useMissionActivity.test.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  tests/auth/AuthContext.test.tsx
  tests/auth/ProtectedRoute.test.tsx
  tests/hooks/useAuth.test.ts
  tests/hooks/useRealtime.test.tsx
  tests/lib/supabase.test.ts
  tests/modules/mission-control/division-map/DivisionMapInterface.test.tsx
  tests/security/userRoles.test.tsx
  tests/utils/supabaseMock.ts
  vitest.setup.ts
Due: prettier --write

Checkpoint before follow-up message
  src/components/map/TacticalMap.tsx
  src/components/telemetry/TelemetrySignal.tsx
  src/modules/mission-control/MissionActivityPanel.tsx
  src/modules/mission-control/useMissionActivity.ts
  tests/components/TacticalMap.test.tsx
  tests/security/userRoles.test.tsx
  vitest.setup.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  src/components/ThemeCustomizer.tsx
  src/components/theme/ThemeAccessibilityPanel.tsx
  src/lib/color.ts
  tests/lib/color.test.ts
Due: prettier --write, eslint --fix

Refactor admin panel and user role hooks
  src/components/AdminPanel.tsx
  src/hooks/useUserRole.ts
  src/integrations/supabase/types.ts
Due: prettier --write, eslint --fix

feat: Integrate Supabase for estimate persistence and sync
  src/components/DocumentGenerator.tsx
  src/integrations/supabase/types.ts
  src/modules/estimate/components/ReviewStep.tsx
  src/modules/estimate/persistence.ts
  src/modules/estimate/useEstimatorState.ts
  tests/modules/estimate/persistence.test.ts
Due: prettier --write, eslint --fix

feat: Implement Supabase sync for mission scheduler
  README.md
  scripts/seed.ts
  src/hooks/useMissionScheduler.ts
  src/integrations/supabase/types.ts
  src/lib/supabaseOrg.ts
  src/modules/estimate/persistence.ts
  src/modules/scheduler/MissionSchedulerPanel.tsx
  src/modules/scheduler/ics.ts
  src/modules/scheduler/persistence.ts
  src/modules/scheduler/types.ts
  src/modules/scheduler/useMissionSchedulerContext.ts
  supabase/migrations/20251106120000_mission_scheduler_sync.js
  tests/modules/scheduler/ics.test.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  src/modules/scheduler/ics.ts
Due: prettier --write, eslint --fix

Refactor: Update .dockerignore and .env.example files
  .dockerignore
  .env.example
Due: none

chore: document env template and docker context
  .dockerignore
  .env.example
Due: none

Checkpoint before follow-up message
  .env.example
  e2e/auth-flow.spec.ts
  e2e/basic.spec.ts
  e2e/scheduler.spec.ts
  e2e/theme-and-uploads.spec.ts
  playwright.config.ts
  src/components/telemetry/TelemetrySignal.tsx
  src/design/system/config.ts
  src/hooks/useAuth.ts
  src/hooks/useUserRole.ts
  src/integrations/supabase/client.ts
  src/lib/flags.ts
  src/lib/runtimeEnv.ts
  src/lib/theme.ts
  src/modules/estimate/persistence.ts
  src/pages/Auth.tsx
  test-results/.last-run.json
  tests/security/userRoles.test.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  test-results/auth-flow-Authentication-F-71368-it-button-during-submission-chromium/error-context.md
  test-results/auth-flow-Authentication-Flow-displays-sign-up-form-chromium/error-context.md
  test-results/auth-flow-Authentication-Flow-validates-email-format-chromium/error-context.md
  test-results/basic-home-page-renders-chromium/error-context.md
  test-results/theme-and-uploads-toggle-theme-and-upload-file-chromium/error-context.md
Due: prettier --write

Refactor: Update README with new sections and improved descriptions
  README.md
Due: prettier --write

feat: Add HUD configuration and sync variables
  .env.example
  README.md
  config/secrets/README.md
  docs/SECRETS_AND_CONFIG.md
Due: prettier --write

Checkpoint before follow-up message
  docker-compose.yml
Due: none

feat: Add HUD animation, gestures, multi-monitor, and keyboard nav
  README.md
  src/components/ThemeCustomizer.tsx
  src/components/hud/TacticalHudOverlay.tsx
  src/components/theme/ThemeHudControls.tsx
  src/contexts/KeyboardContext.tsx
  src/contexts/ThemeContext.tsx
  src/design/motion.ts
  src/hooks/useHudGestures.ts
  src/lib/hudConfigSync.ts
  src/lib/theme.ts
  tests/lib/hudConfigSync.test.ts
Due: prettier --write, eslint --fix

feat: comprehensive improvements - error handling, type safety, SEO, and performance optimizations
  docs/COMPREHENSIVE_IMPROVEMENT_PLAN.md
  docs/IMPROVEMENTS_IMPLEMENTED.md
  index.html
  src/components/AdminPanel.tsx
  src/components/DocumentGenerator.tsx
  src/components/ErrorBoundary.tsx
  src/components/KeyboardShortcutsModal.tsx
  src/components/hud/CollapsibleHudSection.tsx
  src/components/hud/HudFullContent.tsx
  src/components/hud/HudHeader.tsx
  src/components/hud/HudWrapper.tsx
  src/components/hud/TacticalHudOverlay.tsx
  src/components/theme/ThemeHudControls.tsx
  src/hooks/useHudGestures.ts
  src/hooks/useMissionScheduler.ts
  src/lib/errorHandling.ts
  src/main.tsx
  src/modules/estimate/useEstimatorState.ts
  src/modules/scheduler/AddMissionTaskForm.tsx
  src/modules/scheduler/MissionSchedulerPanel.tsx
  src/modules/scheduler/persistence.ts
  src/pages/Index.tsx
  src/types/index.ts
Due: prettier --write, eslint --fix

Refactor: Use user_has_role for policy checks
  supabase/migrations/20251107101152_a4d0e4fd-8600-4ae2-a948-0a5f04546121.sql
Due: none

Update README to include CONFIG_STRICT_MODE instructions
  config/secrets/README.md
Due: prettier --write

Add project retrospective documentation
  docs/PROJECT_RETROSPECTIVE.md
Due: prettier --write

Checkpoint before follow-up message
  test-results/.last-run.json
  test-results/auth-flow-Authentication-F-71368-it-button-during-submission-chromium/error-context.md
  test-results/auth-flow-Authentication-Flow-displays-sign-up-form-chromium/error-context.md
  test-results/auth-flow-Authentication-Flow-validates-email-format-chromium/error-context.md
  test-results/scheduler-Mission-Schedule-eceb6-enders-on-tactical-timeline-chromium/error-context.md
  test-results/theme-and-uploads-toggle-theme-and-upload-file-chromium/error-context.md
Due: prettier --write

Checkpoint before follow-up message
  docs/FUTURE_ITERATIONS.md
  src/components/AdminPanel.tsx
  src/components/DocumentGenerator.tsx
  src/components/KeyboardShortcutsModal.tsx
  src/components/hud/CollapsibleHudSection.tsx
  src/components/hud/HudFullContent.tsx
  src/components/hud/HudHeader.tsx
  src/components/hud/HudWrapper.tsx
  src/components/hud/TacticalHudOverlay.tsx
  src/components/theme/ThemeHudControls.tsx
  src/hooks/useHudGestures.ts
  src/hooks/useMissionScheduler.ts
  src/modules/estimate/useEstimatorState.ts
  src/modules/scheduler/AddMissionTaskForm.tsx
  src/modules/scheduler/MissionSchedulerPanel.tsx
  src/modules/scheduler/persistence.ts
  src/pages/Index.tsx
Due: prettier --write, eslint --fix
