Repository NXConner/asphalt-pro-wiz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: improve Capacitor platform check and enhance localhost beacon detection
  src/components/MobileOptimizations.tsx
  src/lib/logging.ts
Due: prettier --write, eslint --fix

fix: conditionally import StatusBar and enhance localhost beacon detection
  src/components/MobileOptimizations.tsx
  src/lib/logging.ts
Due: prettier --write, eslint --fix

feat: move Pavement Mission to first position and optimize performance
  src/components/hud/ParticleBackground.tsx
  src/modules/layout/OperationsCanvas.tsx
  src/modules/mission-control/MissionControlPanel.tsx
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

perf: optimize layout structure, spacing, and component sizes
  src/modules/layout/CanvasPanel.tsx
  src/modules/layout/OperationsCanvas.tsx
  src/modules/mission-control/MissionControlPanel.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  src/components/ErrorBoundary.tsx
  src/components/ErrorBoundary/PanelErrorBoundary.tsx
  src/components/ImageAreaAnalyzer.tsx
  src/components/ReceiptsPanel.tsx
  src/components/ThemeCustomizer.tsx
  src/components/VirtualList/VirtualList.tsx
  src/components/ui/priority-card.tsx
  src/hooks/useVirtualScroll.ts
  src/modules/estimate/EstimatorStudio.tsx
  src/modules/estimate/components/ScopeStep.tsx
  src/modules/layout/DesktopLayout.tsx
  src/modules/layout/MobileLayout.tsx
  src/modules/layout/PanelSkeletons.tsx
  src/modules/layout/ResponsiveCanvas.tsx
  src/modules/layout/TabletLayout.tsx
  src/modules/navigation/BottomSheet.tsx
  src/modules/navigation/MobileNav.tsx
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  README.md
  docker-compose.dev.yml
  docs/CONTAINERIZATION.md
Due: prettier --write

Checkpoint before follow-up message
  README.md
  docs/DESIGN_SYSTEM.md
  src/components/ui/tactical-button.tsx
  src/components/ui/tactical-card.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  README.md
  docs/SUPABASE_SCHEMA.md
Due: prettier --write

Checkpoint before follow-up message
  config/secrets/README.md
  config/secrets/doppler.yaml.example
  config/secrets/vault.env.template
Due: prettier --write

Checkpoint before follow-up message
  src/components/map/GoogleMap.tsx
  src/modules/mission-control/MissionControlPanel.tsx
  src/modules/mission-control/MissionMapIntel.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  src/modules/scheduler/MissionTimeline.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  src/components/ThemeCustomizer.tsx
  src/lib/blob.ts
  src/lib/routing/basePath.ts
  src/modules/layout/CommandRibbon.tsx
  src/modules/layout/DesktopLayout.tsx
  src/modules/layout/MobileLayout.tsx
  src/modules/layout/OperationsHeader.tsx
  src/modules/layout/ResponsiveCanvas.tsx
  src/modules/layout/TabletLayout.tsx
  src/modules/layout/layoutModes.ts
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

chore: stage all changes before merge
  complete-merge.ps1
  ersn8terDesktopasphalt-pro-wiz
  force-merge.ps1
  resolve-merge.ps1
  sync-with-remote.ps1
  tatus
  tatus --short
Due: none

chore: remove PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

fix: restore proper CODEOWNERS file with correct ownership mappings
  CODEOWNERS
Due: none

fix: resolve pre-commit hook errors - update ESLint/Prettier configs and fix syntax errors
  .prettierignore
  eslint.config.js
  scripts/check-env.ts
  scripts/ingest/ingest.ts
  scripts/openapi/generate.ts
  src/components/ui/alert.tsx
  src/components/ui/card.tsx
  src/components/ui/holo-card.tsx
  src/components/ui/pagination.tsx
  src/modules/estimate/EstimatorStudio.tsx
Due: prettier --write, eslint --fix

fix: resolve LogEvent schema malformation - complete metadata property and remove duplicate definition
  scripts/openapi/generate.ts
Due: prettier --write

fix: remove duplicate code and undefined variable in OpenAPI generate script
  scripts/openapi/generate.ts
Due: prettier --write

Checkpoint before follow-up message
  package-lock.json
  src/design/themes/index.ts
  src/design/tokens.ts
  src/lib/logging.ts
  src/pages/Portal/Portal.tsx
  src/types/index.ts
  src/types/portal.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  .dockerignore
  docs/CONTAINERIZATION.md
Due: prettier --write

Checkpoint before follow-up message
  src/components/ThemeCustomizer.tsx
  src/components/foundation/CommandStat.tsx
  src/components/foundation/StatusPill.tsx
  src/components/foundation/TacticalPanel.tsx
  src/components/foundation/index.ts
  src/components/theme/ThemeFoundationShowcase.tsx
  src/design/themes/index.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  docs/ADMIN_SETUP.md
  scripts/seed.ts
  supabase/migrations/20251116120000_theme_wallpapers.js
Due: prettier --write

chore: ignore nested repository and artifact files
  .gitignore
Due: none

Checkpoint before follow-up message
  README.md
  config/secrets/README.md
  package.json
  scripts/secrets/render-runtime.ts
Due: prettier --write

Checkpoint before follow-up message
  .env.example
  src/hooks/useMissionScheduler.ts
  src/lib/featureFlags/definitions.ts
  src/modules/scheduler/constraintEngine.ts
  src/modules/scheduler/types.ts
  tests/modules/scheduler/constraintEngine.test.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  .env.example
  src/lib/featureFlags/definitions.ts
  src/modules/estimate/compliance.ts
  src/modules/estimate/useEstimatorState.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  .env.example
  src/lib/featureFlags/definitions.ts
  src/modules/estimate/EstimatorStudio.tsx
  src/modules/estimate/components/EstimatorCopilotPanel.tsx
  src/modules/estimate/components/ReviewStep.tsx
  src/modules/estimate/components/ScenarioComparisonMatrix.tsx
  src/modules/estimate/components/copilotPrompt.ts
  src/modules/estimate/components/scenarioMatrixUtils.ts
  src/modules/estimate/useEstimatorState.ts
  tests/estimate/copilotPrompt.test.ts
  tests/estimate/scenarioComparisonMatrix.test.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message (#68)
  .env.example
  src/lib/featureFlags/definitions.ts
  src/modules/estimate/EstimatorStudio.tsx
  src/modules/estimate/components/EstimatorCopilotPanel.tsx
  src/modules/estimate/components/ReviewStep.tsx
  src/modules/estimate/components/ScenarioComparisonMatrix.tsx
  src/modules/estimate/components/copilotPrompt.ts
  src/modules/estimate/components/scenarioMatrixUtils.ts
  src/modules/estimate/useEstimatorState.ts
  tests/estimate/copilotPrompt.test.ts
  tests/estimate/scenarioComparisonMatrix.test.ts
Due: prettier --write, eslint --fix

docs: Add Phase 1 analysis and roadmap document
  docs/PHASE_1_ANALYSIS_REFRESH.md
Due: prettier --write

feat: Enhance dev setup and issue templates
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.md
  .github/pull_request_template.md
  README.md
  eslint.config.js
  package-lock.json
  package.json
  scripts/install_dependencies.ps1
  scripts/install_dependencies.sh
Due: prettier --write

feat: Add new environment variables and health check endpoint
  Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
  docs/CONTAINERIZATION.md
  nginx.conf
Due: prettier --write

feat: Add theme gallery and tactical UI components
  src/components/ThemeCustomizer.tsx
  src/components/tactical/TacticalInput.tsx
  src/components/tactical/TacticalModal.tsx
  src/components/tactical/index.ts
  src/components/theme/ThemeGallery.tsx
  src/design/system/index.ts
  src/design/system/manifest.ts
Due: prettier --write, eslint --fix

feat: Add scheduler blackout feeds and liturgical calendar
  docs/SUPABASE_SCHEMA.md
  scripts/seed.ts
  supabase/migrations/20251116131500_theme_gallery_blackouts.js
Due: prettier --write

Refactor: Improve CI workflow and Docker build
  .github/workflows/main.yml
Due: none

feat: Add lovable preview health banner and monitoring
  src/App.tsx
  src/components/LovablePreviewBanner.tsx
  src/lib/monitoring/lovableAssets.ts
  src/types/lovablePreview.ts
Due: prettier --write, eslint --fix

Add k6 test for Lovable preview health endpoint
  README.md
  scripts/load/README.md
  scripts/load/k6-preview-health.js
Due: prettier --write

Handle connection refused error (#69)
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.md
  .github/pull_request_template.md
  .github/workflows/main.yml
  Dockerfile
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  docs/CONTAINERIZATION.md
  docs/PHASE_1_ANALYSIS_REFRESH.md
  docs/SUPABASE_SCHEMA.md
  eslint.config.js
  nginx.conf
  package-lock.json
  package.json
  scripts/install_dependencies.ps1
  scripts/install_dependencies.sh
  scripts/load/README.md
  scripts/load/k6-preview-health.js
  scripts/seed.ts
  src/App.tsx
  src/components/LovablePreviewBanner.tsx
  src/components/ThemeCustomizer.tsx
  src/components/tactical/TacticalInput.tsx
  src/components/tactical/TacticalModal.tsx
  src/components/tactical/index.ts
  src/components/theme/ThemeGallery.tsx
  src/design/system/index.ts
  src/design/system/manifest.ts
  src/lib/monitoring/lovableAssets.ts
  src/types/lovablePreview.ts
  supabase/migrations/20251116131500_theme_gallery_blackouts.js
Due: prettier --write, eslint --fix

Add environment variables for new services
  .env.example
Due: none

Refactor: Improve Docker build and Compose setup
  Dockerfile
  README.md
  config/mock/measurement/expectations.json
  docker-compose.yml
  docs/CONTAINERIZATION.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,md}
  eslint --fix: any of: src/**/*.{ts,tsx}
