Repository NXConner/asphalt-pro-wiz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Checkpoint before follow-up message
  .env.example
  .gitignore
  README.md
  docs/DEVELOPMENT.md
  package.json
  scripts/check-env.ts
Due: prettier --write

Checkpoint before follow-up message
  Dockerfile
  docker-compose.yml
Due: none

Checkpoint before follow-up message
  src/components/ThemeCustomizer.tsx
  src/components/theme/ThemeHueControls.tsx
  src/contexts/ThemeContext.tsx
  src/lib/theme.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  src/components/hud/TacticalHudOverlay.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  .env.example
  README.md
  config/secrets/README.md
  scripts/check-env.ts
  src/config/secrets.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  src/App.tsx
  src/components/ProtectedRoute.tsx
  src/lib/routing/basePath.ts
  src/main.tsx
  tests/routing/basePath.test.ts
  vite.config.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  README.md
  docs/TESTING_GUIDE.md
  e2e/preview-smoke.spec.ts
  package.json
  playwright.preview.config.ts
  preview-smoke.html
  src/App.tsx
  src/lib/routing/basePath.ts
  src/main.tsx
  src/previewSmokeHarness.ts
  vite.config.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  .github/workflows/main.yml
  src/App.tsx
  src/lib/monitoring/lovableAssets.ts
  test-results/.last-run.json
  test-results/auth-flow-Authentication-F-71368-it-button-during-submission-chromium/error-context.md
  test-results/auth-flow-Authentication-Flow-displays-sign-up-form-chromium/error-context.md
  test-results/auth-flow-Authentication-Flow-validates-email-format-chromium/error-context.md
  test-results/basic-home-page-renders-chromium/error-context.md
  test-results/scheduler-Mission-Schedule-eceb6-enders-on-tactical-timeline-chromium/error-context.md
  test-results/theme-and-uploads-toggle-theme-and-upload-file-chromium/error-context.md
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  README.md
Due: prettier --write

Checkpoint before follow-up message
  src/App.tsx
  src/contexts/FeatureFlagProvider.tsx
  src/hooks/usePreviewAssetIncidents.ts
  src/lib/flags.ts
  src/lib/logging.ts
  src/lib/monitoring/lovableAssets.ts
  src/modules/observability/PreviewIncidentsPanel.tsx
  src/pages/CommandCenter.tsx
  supabase/functions/log-beacon/index.ts
  supabase/migrations/20251109104500_preview_asset_incidents.js
  tests/contexts/FeatureFlagProvider.test.tsx
  tests/hooks/usePreviewAssetIncidents.test.tsx
  tests/modules/observability/PreviewIncidentsPanel.test.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  README.md
  scripts/load/README.md
  scripts/load/k6-observability.js
Due: prettier --write

Checkpoint before follow-up message
  docs/swagger.json
  scripts/openapi/generate.ts
  supabase/functions/log-beacon/index.ts
Due: prettier --write

Refactor: Update routing and UI elements
  src/App.tsx
  src/modules/layout/CanvasPanel.tsx
  src/pages/CommandCenter.tsx
  src/pages/Index.tsx
  src/pages/Portal/Portal.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  src/App.tsx
Due: prettier --write, eslint --fix

fix: stabilize lovable preview base resolution
  src/lib/routing/basePath.ts
Due: prettier --write, eslint --fix

feat: Add HUD and observability environment variables
  .env.example
  scripts/check-env.ts
Due: prettier --write

Add new environment variables for demo mode and admin email
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

feat: Add wallpaper synthesizer and operations themes
  eslint.config.js
  src/components/ThemeCustomizer.tsx
  src/components/theme/ThemeShowcase.tsx
  src/components/theme/ThemeWallpaperSynth.tsx
  src/design/system/catalog.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  .env.example
  README.md
  docs/TESTING_GUIDE.md
  scripts/load/README.md
  scripts/load/k6-estimate.js
  src/config/constants.ts
  src/contexts/FeatureFlagProvider.tsx
  src/hooks/useMissionScheduler.ts
  src/lib/featureFlags/definitions.ts
  src/lib/featureFlags/index.ts
  src/lib/featureFlags/state.ts
  src/lib/featureFlags/telemetry.ts
  src/lib/flags.ts
  src/modules/estimate/EstimatorStudio.tsx
  src/modules/estimate/components/MaterialsStep.tsx
  src/modules/estimate/components/SupplierIntelPanel.tsx
  src/modules/estimate/supplier/api.ts
  src/modules/estimate/supplier/index.ts
  src/modules/estimate/supplier/types.ts
  src/modules/estimate/supplier/useSupplierIntelligence.ts
  src/modules/estimate/useEstimatorState.ts
  src/modules/scheduler/MissionSchedulerPanel.tsx
  src/modules/scheduler/ics.ts
  src/modules/scheduler/persistence.ts
  src/modules/scheduler/types.ts
  supabase/functions/supplier-intel/index.ts
  supabase/migrations/20251109121500_supplier_intelligence.js
  tests/hooks/useMissionScheduler.test.tsx
  tests/lib/flags.test.ts
  tests/modules/estimate/supplier/api.test.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  docs/API_REFERENCE.md
  docs/swagger.json
  package-lock.json
  package.json
  scripts/openapi/generate.ts
  supabase/functions/gemini-proxy/index.ts
  supabase/functions/log-beacon/index.ts
  supabase/functions/supplier-intel/index.ts
Due: prettier --write

Checkpoint before follow-up message
  docs/swagger.json
  package-lock.json
Due: prettier --write

feat: Add scenario planner and compliance checklist
  README.md
  e2e/estimator.spec.ts
  src/modules/estimate/EstimatorStudio.tsx
  src/modules/estimate/compliance.ts
  src/modules/estimate/components/ComplianceChecklist.tsx
  src/modules/estimate/components/ProfitSensitivityChart.tsx
  src/modules/estimate/components/ReviewStep.tsx
  src/modules/estimate/components/ScenarioPlanner.tsx
  src/modules/estimate/components/ScopeStep.tsx
  src/modules/estimate/pdf.ts
  src/modules/estimate/useEstimatorScenarios.ts
  src/modules/estimate/useEstimatorState.ts
  tests/estimate/compliance.test.ts
  tests/estimate/scenarioSummary.test.ts
Due: prettier --write, eslint --fix

Add k6 test for Gemini proxy chat assist
  README.md
  scripts/load/README.md
  scripts/load/k6-gemini-proxy.js
Due: prettier --write

Refactor: Generate OpenAPI spec using swagger-jsdoc
  README.md
  docs/swagger.json
  package.json
  scripts/openapi/generate.ts
  supabase/functions/gemini-proxy/index.ts
  supabase/functions/log-beacon/index.ts
Due: prettier --write

Refactor: Improve CI workflow and Docker build process
  .github/workflows/main.yml
Due: none

Checkpoint before follow-up message
  src/components/division/DivisionCard.tsx
  src/components/hud/TacticalCard.tsx
  src/components/hud/TacticalOverlay.tsx
  src/components/map/TacticalMap.tsx
  src/index.css
  src/lib/tacticalTone.ts
  src/modules/layout/CanvasPanel.tsx
  tests/lib/tacticalTone.test.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  eslint.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/components/division/DivisionCard.tsx
  src/components/hud/CornerBrackets.tsx
  src/components/hud/TacticalCard.tsx
  src/components/hud/TacticalHudOverlay.tsx
  src/components/hud/TacticalOverlay.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/carousel.tsx
  src/components/ui/input-otp.tsx
  src/contexts/AuthContext.tsx
  src/contexts/ErrorContext.tsx
  src/contexts/KeyboardContext.tsx
  src/contexts/PerformanceContext.tsx
  src/contexts/ThemeContext.tsx
  src/hooks/usePreviewAssetIncidents.ts
  src/lib/featureFlags/telemetry.ts
  src/lib/routing/basePath.ts
  src/modules/estimate/components/ReviewStep.tsx
  src/modules/estimate/components/ScenarioPlanner.tsx
  src/modules/estimate/components/ScopeStep.tsx
  src/modules/estimate/supplier/api.ts
  src/modules/estimate/supplier/useSupplierIntelligence.ts
  src/modules/estimate/useEstimatorScenarios.ts
  src/modules/estimate/useEstimatorState.ts
  src/modules/layout/CanvasPanel.tsx
  src/pages/PreviewSafe.tsx
Due: prettier --write, eslint --fix

fix: resolve React context error by bundling Radix UI with React
  docs/FIXES_APPLIED.md
  docs/HUD_FEATURES_IMPLEMENTED.md
  index.html
  src/App.tsx
  src/components/hud/HudAnimationTimeline.tsx
  src/components/hud/HudLayoutTemplates.tsx
  src/components/hud/HudZoomControls.tsx
  src/components/hud/TacticalHudOverlay.tsx
  src/contexts/ThemeContext.tsx
  src/lib/hudLayoutTemplates.ts
  src/lib/theme.ts
  vite.config.ts
Due: prettier --write, eslint --fix

fix: remove remaining conflict markers in ThemeContext
  src/contexts/ThemeContext.tsx
Due: prettier --write, eslint --fix

fix: include cmdk in react-vendor chunk to prevent Radix context errors
  vite.config.ts
Due: prettier --write

docs: update fixes documentation with cmdk bundling and cache clearing notes
  docs/FIXES_APPLIED.md
Due: prettier --write

fix: bundle recharts with React to prevent circular dependency errors
  vite.config.ts
Due: prettier --write

docs: add recharts circular dependency fix to documentation
  docs/FIXES_APPLIED.md
Due: prettier --write

fix: improve service worker cache invalidation and add cache clearing guide
  docs/CACHE_CLEARING_GUIDE.md
  vite.config.ts
Due: prettier --write

fix: router basename mismatch in Lovable preview environments
  src/App.tsx
  src/lib/routing/basePath.ts
Due: prettier --write, eslint --fix

fix: handle undefined event.key in useKeyboardShortcuts
  src/hooks/useKeyboardShortcuts.ts
Due: prettier --write, eslint --fix

fix: suppress expected development errors in console
  src/components/MobileOptimizations.tsx
  src/contexts/FeatureFlagProvider.tsx
  src/lib/featureFlags/telemetry.ts
  src/lib/logging.ts
Due: prettier --write, eslint --fix

fix: prevent unnecessary Supabase queries and improve 404 handling
  src/contexts/FeatureFlagProvider.tsx
  src/lib/logging.ts
  src/lib/supabaseOrg.ts
Due: prettier --write, eslint --fix

fix: suppress status bar error and improve localhost beacon detection
  src/components/MobileOptimizations.tsx
  src/lib/logging.ts
Due: prettier --write, eslint --fix

fix: prevent status bar error and skip all localhost beacons
  src/components/MobileOptimizations.tsx
  src/lib/logging.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,md}
  eslint --fix: any of: src/**/*.{ts,tsx}
