Repository NXConner/asphalt-pro-wiz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Checkpoint before follow-up message
  package-lock.json
  src/App.tsx
  src/pages/Index.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message (#32)
  package-lock.json
  src/App.tsx
  src/pages/Index.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

Refactor: Improve CI, logging, and UI components
  .editorconfig
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .husky/_/husky.sh
  .husky/pre-commit
  .prettierrc
  package-lock.json
  package.json
  src/components/common/ConfirmDialog.tsx
  src/components/common/EmptyState.tsx
  src/components/common/Kbd.tsx
  src/components/common/LoadingSpinner.tsx
  src/lib/logging.ts
  src/main.tsx
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

feat: Add new feature flags and components
  .env.example
  src/components/CustomerInvoice.tsx
  src/components/Map.tsx
  src/components/Scheduler/BlackoutEditor.tsx
  src/lib/flags.ts
  src/lib/mapSettings.ts
  src/pages/Index.tsx
  supabase/functions/log-beacon/index.ts
Due: prettier --write, eslint --fix

feat: Add customer portal page and route
  src/App.tsx
  src/pages/Portal/Portal.tsx
Due: prettier --write, eslint --fix

Add scheduler components and layout optimizer
  src/components/Optimizer/LayoutOptimizer.tsx
  src/components/Scheduler/CrewAssign.tsx
  src/components/Scheduler/WeatherAdvisor.tsx
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

Refactor: Update project configuration and tooling
  .env.example
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
  .prettierignore
  .prettierrc.json
  README.md
  eslint.config.js
  package.json
  pyproject.toml
  scripts/install_dependencies.ps1
  scripts/install_dependencies.sh
Due: prettier --write

Refactor: Optimize Docker build and compose for production
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yml
Due: prettier --write

Refactor: Modularize estimate and layout components
  src/modules/engagement/EngagementHubPanel.tsx
  src/modules/estimate/EstimatorStudio.tsx
  src/modules/estimate/components/MaterialsStep.tsx
  src/modules/estimate/components/ReviewStep.tsx
  src/modules/estimate/components/ScopeStep.tsx
  src/modules/estimate/components/StripingStep.tsx
  src/modules/estimate/useEstimatorState.ts
  src/modules/insights/InsightTowerPanel.tsx
  src/modules/layout/CanvasPanel.tsx
  src/modules/layout/OperationsCanvas.tsx
  src/modules/layout/OperationsHeader.tsx
  src/modules/layout/wallpapers.ts
  src/modules/mission-control/MissionControlPanel.tsx
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

Refactor: Update Supabase schema and migrations for Pavement Suite
  deleted files/supabase/migrations/1700000000000_initial.js
  deleted files/supabase/migrations/1700000001000_unified_tenancy.js
  deleted files/supabase/migrations/1700000001100_unified_core.js
  deleted files/supabase/migrations/1700000001100_unified_core.sql
  deleted files/supabase/migrations/1700000001200_unified_analysis.js
  deleted files/supabase/migrations/1700000001300_unified_ai_gamification.js
  deleted files/supabase/migrations/1700000001400_unified_rls.js
  deleted files/supabase/migrations/1700000001500_unified_compatibility.js
  docs/UNIFIED_SUPABASE_GUIDE.md
  scripts/seed.ts
  supabase/migrations/1700000016000_pavement_core.js
Due: prettier --write

feat: Add security scan for dependencies
  README.md
  config/secrets/README.md
  config/secrets/doppler.yaml.example
  docs/SECRETS_AND_CONFIG.md
  package.json
Due: prettier --write

feat: Add Executive Command Center dashboard
  .env.example
  README.md
  src/App.tsx
  src/lib/flags.ts
  src/modules/analytics/commandCenter.ts
  src/modules/analytics/useCommandCenterData.ts
  src/modules/engagement/EngagementHubPanel.tsx
  src/modules/layout/OperationsHeader.tsx
  src/pages/CommandCenter.tsx
  tests/lib/commandCenter.test.ts
Due: prettier --write, eslint --fix

Refactor: Update .env and Supabase client configuration
  .env.example
  .prettierrc.json
  src/integrations/supabase/client.ts
Due: prettier --write, eslint --fix

feat: Implement tactical HUD theme and components
  package-lock.json
  package.json
  src/App.tsx
  src/components/AccessibilityChecker/AccessibilityChecker.tsx
  src/components/BatchOperations/BatchOperations.tsx
  src/components/ThemeCustomizer.tsx
  src/components/hud/CanvasGrid.tsx
  src/components/hud/CornerBracket.tsx
  src/components/hud/ParticleBackground.tsx
  src/components/hud/ProgressRing.tsx
  src/components/hud/ScanOverlay.tsx
  src/components/hud/StatusBar.tsx
  src/components/hud/TacticalAlert.tsx
  src/components/hud/TacticalCard.tsx
  src/components/hud/TacticalLoader.tsx
  src/components/hud/index.ts
  src/design/gradients.ts
  src/design/index.ts
  src/design/motion.ts
  src/design/themes/index.ts
  src/design/tokens.ts
  src/index.css
  src/lib/theme.ts
  src/lib/validation-enhanced.ts
  src/main.tsx
  src/modules/estimate/components/MaterialsStep.tsx
  src/modules/layout/CanvasPanel.tsx
  src/modules/layout/OperationsCanvas.tsx
  src/modules/layout/OperationsHeader.tsx
  src/modules/layout/wallpapers.ts
  tailwind.config.ts
Due: prettier --write, eslint --fix

Refactor: Improve auth hook and analytics calculations
  src/hooks/useAuth.ts
  src/modules/analytics/commandCenter.ts
  tests/auth/ProtectedRoute.test.tsx
  tests/hooks/useAuth.test.ts
  tests/hooks/useOnlineStatus.test.ts
  tests/hooks/useRealtime.test.tsx
  tests/lib/analytics.test.ts
  tests/lib/commandCenter.test.ts
  tests/security/userRoles.test.tsx
  vitest.setup.ts
Due: prettier --write, eslint --fix

Refactor: Enhance command center analytics and UI
  src/modules/analytics/commandCenter.ts
  src/modules/analytics/useCommandCenterData.ts
  src/pages/CommandCenter.tsx
  tests/lib/commandCenter.test.ts
Due: prettier --write, eslint --fix

Refactor: Implement tactical HUD components and map enhancements
  docs/PHASE_1_ANALYSIS.md
  src/components/CustomizableCard.tsx
  src/components/Map.tsx
  src/components/hud/CornerBracket.tsx
  src/components/hud/CornerBrackets.tsx
  src/components/hud/ScanLines.tsx
  src/components/hud/TacticalCard.tsx
  src/components/hud/TacticalOverlay.tsx
  src/components/hud/index.ts
  src/components/map/GoogleMap.tsx
  src/components/map/TacticalMap.tsx
  src/components/ui/button.tsx
  src/index.css
  tailwind.config.ts
Due: prettier --write, eslint --fix

feat: Implement HUD and division card components
  src/components/division/DivisionCard.tsx
  src/components/division/index.ts
  src/components/hud/TacticalHudOverlay.tsx
  src/components/hud/index.ts
  src/components/ui/button.tsx
  src/design/index.ts
  src/design/tokens.ts
  src/design/typography.ts
  src/index.css
  src/modules/layout/OperationsCanvas.tsx
  src/modules/mission-control/MissionControlPanel.tsx
  src/modules/mission-control/division-map/DivisionMapInterface.tsx
  src/modules/mission-control/division-map/useDivisionMapData.ts
  src/pages/CommandCenter.tsx
  src/pages/Index.tsx
  tailwind.config.ts
  tests/components/division/DivisionCard.test.tsx
  tests/components/ui/buttonVariants.test.tsx
  tests/modules/mission-control/division-map/DivisionMapInterface.test.tsx
Due: prettier --write, eslint --fix

feat: Add tacticalPulse button variant and update styles
  src/components/ui/button.tsx
Due: prettier --write, eslint --fix

feat: Add Supabase env vars and Prettier config
  .env.example
  prettier.config.cjs
  src/integrations/supabase/client.ts
Due: prettier --write, eslint --fix

feat: Add Supabase migration service to docker-compose
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

Refactor: Enhance theme customization and wallpaper management
  src/components/ThemeCustomizer.tsx
  src/components/ui/theme-swatch.tsx
  src/contexts/ThemeContext.tsx
  src/lib/designSystem.ts
  src/lib/theme.ts
  src/modules/layout/wallpaperLibrary.ts
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  docs/ADMIN_SETUP.md
  docs/USER_ROLES_SYSTEM.md
  scripts/seed.ts
  supabase/migrations/1700000015000_platform_foundation.js
Due: prettier --write

feat: Add feature flags and telemetry tables and migrations
  docs/UNIFIED_SUPABASE_GUIDE.md
  scripts/seed.ts
  supabase/migrations/1700000016100_feature_flags_telemetry.js
Due: prettier --write

Add Windows setup documentation and update README
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  deleted files/.github/PULL_REQUEST_TEMPLATE.md
  docs/WINDOWS_SETUP.md
Due: prettier --write

chore(windows): add WINDOWS_SETUP.md, fix tests, enable vitest globals
  docs/WINDOWS_SETUP.md
  tests/components/ui/buttonVariants.test.tsx
  tests/hooks/useDebounce.test.ts
  tests/modules/mission-control/division-map/DivisionMapInterface.test.tsx
  vitest.config.ts
Due: prettier --write

docs(windows): improve WINDOWS_SETUP.md with clearer env var instructions
  docs/WINDOWS_SETUP.md
Due: prettier --write

Checkpoint before follow-up message
  e2e/scheduler.spec.ts
  src/components/Scheduler/BlackoutEditor.tsx
  src/components/Scheduler/CrewAssign.tsx
  src/hooks/useMissionScheduler.ts
  src/modules/engagement/EngagementHubPanel.tsx
  src/modules/scheduler/AddMissionTaskForm.tsx
  src/modules/scheduler/CrewCapacityCard.tsx
  src/modules/scheduler/MissionAlerts.tsx
  src/modules/scheduler/MissionSchedulerContext.tsx
  src/modules/scheduler/MissionSchedulerPanel.tsx
  src/modules/scheduler/MissionTimeline.tsx
  src/modules/scheduler/index.ts
  tests/hooks/useMissionScheduler.test.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  tests/components/division/DivisionCard.test.tsx
  tests/components/ui/buttonVariants.test.tsx
  tests/modules/mission-control/division-map/DivisionMapInterface.test.tsx
Due: prettier --write

Checkpoint before follow-up message
  src/modules/scheduler/AddMissionTaskForm.tsx
  src/modules/scheduler/CrewCapacityCard.tsx
  src/modules/scheduler/MissionAlerts.tsx
  src/modules/scheduler/MissionSchedulerPanel.tsx
  src/modules/scheduler/MissionTimeline.tsx
  test-results/.last-run.json
  tests/hooks/useMissionScheduler.test.tsx
Due: prettier --write, eslint --fix

Checkpoint before follow-up message
  docs/TESTING_GUIDE.md
  scripts/load/README.md
  scripts/load/artillery.yml
  scripts/load/k6-estimate.js
Due: prettier --write

fix(windows): update migrate:up to read DATABASE_URL from env
  package.json
Due: prettier --write

Checkpoint before follow-up message
  docs/API_REFERENCE.md
  docs/swagger.json
  scripts/openapi/generate.ts
Due: prettier --write

Checkpoint before follow-up message
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

Checkpoint before follow-up message
  .github/workflows/main.yml
Due: none

Refactor: Centralize environment variable handling and Supabase client setup
  .env.example
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
  docs/DEVELOPMENT.md
  package.json
  scripts/install_dependencies.sh
  src/integrations/supabase/client.ts
Due: prettier --write, eslint --fix

feat: Add job seeding and telemetry stats to operations header
  scripts/seed.ts
  src/hooks/useTelemetry.ts
  src/modules/layout/OperationsHeader.tsx
Due: prettier --write, eslint --fix

Refactor: Add CI checks and update docker compose env vars
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yml
Due: prettier --write

feat: Add collapsible panels with local storage persistence
  src/modules/engagement/EngagementHubPanel.tsx
  src/modules/layout/CanvasPanel.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,md}
  eslint --fix: any of: src/**/*.{ts,tsx}
